version: "3.8"

services:

  # ==========================
  # MongoDB
  # ==========================
  mongodb:
    image: mongo:7
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: uth
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - backend
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5


  # ==========================
  # Redis
  # ==========================
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend


  # ==========================
  # RabbitMQ
  # ==========================
  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend


  # ==========================
  # NGINX Gateway
  # ==========================
  nginx:
    image: nginx:latest
    ports:
      - "3000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - mongodb
      - redis
      - rabbitmq
      - auth-service
      - user-service
      - goal-service
      - admin-service
    networks:
      - backend
    restart: unless-stopped


  # ==========================
  # AUTH SERVICE
  # ==========================
  auth-service:
    build: ./auth-service
    expose:
      - "3001"
    environment:
      MONGODB_URI: mongodb://admin:uth@mongodb:27017/fitfood_auth_db?authSource=admin
      PORT: 3001
      JWT_SECRET: shared-secret
      RABBITMQ_URL: amqp://admin:admin@rabbitmq:5672
    depends_on:
      - mongodb
      - rabbitmq
    networks:
      - backend


  user-service:
    build: ./user-service
    expose:
      - "3002"
    environment:
      MONGODB_URI: mongodb://admin:uth@mongodb:27017/fitfood_user_db?authSource=admin
      PORT: 3002
      JWT_SECRET: shared-secret
      RABBITMQ_URL: amqp://admin:admin@rabbitmq:5672
    depends_on:
      - mongodb
      - rabbitmq
    networks:
      - backend


  # meal-service:
  #   build: ./meal-service
  #   expose:
  #     - "3004"
  #   environment:
  #     MONGODB_URI: mongodb://admin:uth@mongodb:27017/fitfood_meal_db?authSource=admin
  #     PORT: 3004
  #     JWT_SECRET: shared-secret
  #     RABBITMQ_URL: amqp://admin:admin@rabbitmq:5672
  #   depends_on:
  #     - mongodb
  #     - rabbitmq
  #   networks:
  #     - backend


  # exercise-service:
  #   build: ./exercise-service
  #   expose:
  #     - "3005"
  #   environment:
  #     MONGODB_URI: mongodb://admin:uth@mongodb:27017/fitfood_exercise_db?authSource=admin
  #     PORT: 3005
  #     JWT_SECRET: shared-secret
  #   depends_on:
  #     - mongodb
  #     - rabbitmq
  #   networks:
  #     - backend


  goal-service:
    build: ./goal-service
    expose:
      - "3006"
    environment:
      MONGODB_URI: mongodb://admin:uth@mongodb:27017/fitfood_goal_db?authSource=admin
      PORT: 3006
      JWT_SECRET: shared-secret
    depends_on:
      - mongodb
    networks:
      - backend

  admin-service:
    build: ./admin-service
    expose:
      - "3003"
    environment:
      MONGODB_URI: mongodb://admin:uth@mongodb:27017/fitfood_admin_db?authSource=admin
      PORT: 3003
      JWT_SECRET: shared-secret
      USER_SERVICE_URL: http://user-service:3002
      AUTH_SERVICE_URL: http://auth-service:3001
    depends_on:
      - mongodb
    networks:
      - backend


networks:
  backend:
    driver: bridge


volumes:
  mongodb_data:
  rabbitmq_data:
  redis_data:
